h1{
    color: #009879;
    font-weight: bold;
}

h2{
    color: #009879;
    font-weight: bolder;
}
u{
    color: #009879;
}

caption{
  color: #009879;
  font-size: xx-large;
  font-weight: bolder;
}

.now { 
    margin-left: 10%;
    text-align: left;
    color: #009879;
    font-size: x-large;
    font-weight: bold;
  }

.next{ 
    margin-left: 10%;
    text-align: left;
    color: #009879;
    font-size: large;
    font-weight: bold;
  }

.clock{
    margin-left: 10%;
    color: #000;
    font-weight: bold;
}


.content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 1em;
    min-width: 800px;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}


.content-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

.content-table tbody th {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }

.content-table th,
.content-table td {
  padding: 12px 15px;
}

.content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.content-table tbody {
  border-bottom: 2px solid #009879;
}

.content-table tbody td{
    font-weight: 500;
}